::placeholder{
    color:rgba(55, 131, 133, 0.365) !important;
}

body{
    background-image: url("../images/dynamic-style.png");
}

form{
    float: right;
}

.btn-customize{
    background-color: white;
    border:rgb(107, 144, 145)  1px solid;
    color: cadetblue;
}

.btn-customize:hover{
    background-color: cadetblue;
    color: white;
}

.btn-favorites-dropdown{
    max-width: 100px;
}

.btn-active{
    background-color: cadetblue;
    color: white;
}

.container{
    background-color: whitesmoke;
}

.dropdown-item:hover{
    background-color: cadetblue;
    color: white !important;
}

.dropdown-item{
    color: cadetblue !important;
}

.gifImg{
    box-shadow: 
    inset 0 -3em 3em rgba(0,0,0,0.1), 
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
    display: inline-block;
    margin: 5px;
}

.rating{
    margin: 5px;
}

.input-field-customize{
    border:rgb(107, 144, 145)  1px solid;
    color: cadetblue !important;
    max-width: 150px;
    margin-left: 10px;
}

.input-field-customize{
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.jumbotron{
    background-image: url("../images/Giftastic.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 200PX;
    padding-top: 10PX;
    margin-top: 20px;
}